/* Start of Fonts */
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lily-script-one-regular {
  font-family: "Lily Script One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #9667E0;
  
}
/* End of Fonts */

/* --- Base Styles --- */
body {
    font-family: 'Lato', sans-serif;
    color: #000000;
}

/* --- Navbar--- */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Nav Links */
.nav-link {
    color: #9667E0 !important; /* The Sakura Purple */
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

/* Hover State */
.nav-link:hover {
    color: #8a2be2 !important; 
}

/* Active State (Underline) */
.nav-link.active {
    border-bottom: 2px solid #9667E0;
}


.container-fluid img {
    max-height: 600px;
    object-position: center;
}

/* Daily Specials start */
.specials-box {
    background-color: #F3E5F5; 
    border: 2px solid #D1C4E9;
    border-radius: 20px;
    padding: 40px;
    margin-top: 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.special-img {
    border: 8px solid #ACA3D4;
    border-radius: 15px;
    width: 100%;               
    max-width: 450px;
    aspect-ratio: 1 / 1;       
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease;
}

.special-img:hover {
    transform: scale(1.02);
}

.food-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    font-size: 1.1rem;
}
/* daily specials end */